@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: underline #555 dotted;
  text-underline-offset: 5px;
}

* {
  box-sizing: border-box;
}
